* {
  box-sizing: border-box;
  margin: 0;
}

main {
  font-family: "Source Code Pro", monospace;
}
body {
  padding: 1rem;
}

.coders-display {
  position: absolute;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 50vh;

}
.coders-list {
  height: 44vh;
  overflow-y: auto;
}
.coder-token {
  background-color: lightgray;
  display: flex;
  flex-flow: column;
}
.coder-avatar {
  background-color: #638596;
}
.coder-avatar img {
   display: block;
   width: 100%;
}
.coder-name {
    text-align: center;
    font-weight: bold;
}