.header {
  padding: 1rem;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  position: relative;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-size: 1.7rem;
  font-family: 'VT323', monospace;
}
.buttons {
  display: flex;
}
.buttons img {
  height: 2.5vh;
  margin: 10px;
}
<<<<<<< HEAD

.buttons {
  margin-top: 2.9vh;
}



=======
>>>>>>> e0b181944850cfe35964c24a8f67704d159b59d7
