/* este body tiene que ser main... */
body {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  height: 90vh;
}
/* .coders-display {
  scroll-padding-bottom: 2rem;
} */
.coders-list {
  padding: 1rem;
  height: 44vh;
  display: grid;
  grid-template: repeat(auto-fill, 125px) / repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 2rem;
  overflow-y: auto;
}
.coder-token {
  background-color: lightgray;
  display: flex;
  flex-flow: column;
  height: fit-content;
}
.coder-avatar {
  background-color: #638596;
}
.coder-avatar img {
   display: block;
   width: 100%;
}
.coder-name {
    text-align: center;
    font-weight: bold;
    margin: auto;
    line-height: 1.6;
}

.delete {
  display: none;
	background-color:#ed0510;
	border-radius:16px;
	border:1px solid #ddebdf;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  
}