/* este body tiene que ser main... */
/* @media (max-width: 1000px) {
  .wrapper {
    width: 30vw;
  }
} */


body {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}
/* .coders-display {
  scroll-padding-bottom: 2rem;
} */
.coders-list {
  padding: 1rem;
  height: 44vh;
  display: grid;
  grid-template: repeat(auto-fill, 125px) / repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 2rem;
  overflow-y: auto;
}
.coder-token {
  background-color: lightgray;
  display: flex;
  flex-flow: column;
  height: fit-content;
}
.coder-avatar {
  background-color: #92B397;
}
.coder-avatar img {
   display: block;
   width: 100%;
}
.coder-name {
    text-align: center;
    font-weight: bold;
    margin: auto;
    line-height: 1.6;
}

.delete {
	background-color:#ed0510;
	cursor: pointer;
	color: #ffffff;
	font-family: "Source Code Pro", monospace;
  font-weight: bold;
	font-size:17px;
	padding:7px 10px;
	text-decoration: none;
	text-shadow:0px 1px 0px #2f6627;
  border: none;
  box-shadow: none;
  text-shadow: none;
}