footer {
    background-color :#386C5f;
    /*height: 42vh;*/
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
}
.slider {
    width: fit-content;
    position: relative;
    background-color: aquamarine;
    display: flex;
    left: -62px;
    top: -14px;
    transition: left 4000ms;
}
.slider div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  border-right: rgb(0, 0, 0) 3px solid;
  border-left: rgb(0, 0, 0) 3px solid;
  width: 40vw;
  padding: 15px 0;
}
.slider div img {
  width: 33vw;
}
.slider div h2 {
  font-size: 3vh;
}

.fig {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 10rem;
  height: 16vh;
  top: -20px;
  align-items: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0 70%);
  transform: translate();
  min-width: 7rem;
  }

.fig img{
    object-fit: cover;
    align-content: center;
    display: flex;
    height: 10vh;
}
.foot-parti-1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}


.btn1,
.btn2 {
  width: 6rem;
  height: 3rem;
  outline: none;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  height: 2rem;
  width: 5rem;
  top: -1rem;
  text-decoration: none;
  filter: drop-shadow(2px 2px 4px black);
  position: relative;
  border: 2px solid black;
}
.btn2 {
    background-color: #F3C852;
}
.btn1 {
    background-color: #EC563B;
}
 .btn2:hover {
  filter: drop-shadow(2.5px 2.5px 1px black);
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px black);
}
.btn1:hover {
  filter: drop-shadow(2.5px 2.5px 1px black);
  cursor: pointer;
  filter: drop-shadow(4px 4px 4px black);
  background-color: red;
}
.move {
    height: 100%;
}
@media (min-width: 500px) {
    .move {
        display: flex;
        flex: 1
    }
    footer {
        width: 61vw;
    }
    .slider div {
        width: 25vw;
    }
    .slider div img {
        width: 15rem;
    }
    .coders-list {
        height: 84vh;
    }
}
/* hi
